body {
    margin: 0;
}
header {
    height: 80px;
    width: 100%;
    background-color: rgba(78, 160, 255, 0.7);
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat;
}

main {
    width: 1000px;
    margin: auto;
}
#intestazione {
    width: 1000px;
    margin: auto;
    height: 80px;

}
#logo_booleaner {
    margin: 30px 10px 10px;
    height: 40px;
}
#sezione_titolo {
    margin: 0px 50px 20px 0px;
}
#titolo {
    font-size: 35px;
    margin-bottom: 0px;
}
#sottotitolo {
    margin-top: 5px;
    margin-bottom: 0px;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
#special_sottotitolo {
    color: rgb(49, 175, 230);
}
#data {
    margin-top: 0;
    font-size: 9px;
    color: grey;
}
#contenitore_immagini {
    height: 340px;
    width: 100%;
    margin-bottom: 40px;
}
#contenitore_immagini img {
    height: 100%;
}
#contenitore_immagini p {
    font-size: 8px;
    margin: 0;
}

table {
    border-collapse: collapse;
}
.cln1, .cln2 {
    width: 25%;
} 
table th {
    text-align: left;
}
thead tr {
    background-color: rgb(32, 169, 229);
    color: white;
}
.riga_colorata {
    background-color: rgb(177, 229, 242);
}

footer {
    margin: auto;
    color: grey;
    width: 1000px;
}

.quadrato_footer {
    margin-top: 10px;
    border: 1px solid black;
    height: 160px;
    width: 200px;
    background-size: contain;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.primo {
    background-image: url("../img/graph.jpg");
}
.secondo {
    background-image: url("../img/monitor.jpg");
}
